.aboutText
{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.aboutSubText
{
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.contactIcons
{
    margin-left: -10%;
}
